@font-face {
  font-family: 'Brush-king';
  src: url('./fonts/brush_king.otf') format('opentype');
}
@font-face {
  font-family: 'Manuscript';
  src: url('./fonts/MANUSCRIPT.otf') format('opentype');
}

@font-face {
  font-family: 'RandomWednesday';
  src: url('./fonts/Random_Wednesday.ttf') ;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $global-font;
  height: 100vh;
  background-color: black;
}
h1 {
  font-family: $title-font;
  color: $main-color;
}
#app {
  width: 100%;
  height: 100%;
}
#canvas {
  display: block;
  width: 100%;
  height: 100%;
}
button {
  font-family: $global-font;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  background-color: white;
  color: $main-color;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
  &:hover {
    background-color: $main-color;
    color: white;
  }
}

